// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark-blue: #000023;
$light-blue: #58A5FF;
$indigo: #6574cd;
$purple: #40F;
$pink: #f66d9b;
$red: #e81950;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #0075ff;
$cyan-alpha: #0075ff77;
$blue: #001155;
$blue-alpha: #00115577;

//Padding and margin
$header-slot: 12rem;

//Gradients
$v-grad: linear-gradient(90deg, #000023 0%, rgba(0,20,85,1) 35%, #000023 100%);
