@import '_variables.scss';
@import '_smart-grid.scss';

$mobile-break: 50rem;

@mixin holo-panel() {
  box-shadow: inset 0 0px 20px $cyan;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid $cyan;
  background: #0075ff22;
  overflow: hidden;
  min-height: 50px;

  &__header {
    user-select: none;
    height: 30px;
    display: flex;
    padding: 12px 17px;
    letter-spacing: 0.02em;
    font-size: 1.1em;
    align-items: center;
  }

  &__icon {
    margin-right: 6px;
    color: $light-blue;
  }

  &__title {
    font-family: Montserrat;
    color: white;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    box-sizing: border-box;
  }
}

.holo-panel {
  @include holo-panel;
}

.holo-panel--danger {
  background: #0075ff11;
  border: 1px solid $cyan-alpha;
  box-shadow: inset 0 0px 20px $cyan-alpha;
}

.holo-panel--interactive {
  cursor: pointer;
  transition: all 100ms;

  .holo-panel__header {
    @include to(35rem) {
      font-size: 0.85em;
    }

    @include from(35rem) {
      font-size: 1.1em;
    }
  }

  &:hover {
    transition: none;
    background: #0075ff44;
    border: 1px solid $light-blue;
    box-shadow: inset 0 0px 20px $light-blue;
  }
  &:active {
    background: #0075ff;
    border: 1px solid $light-blue;
    box-shadow: inset 0 0px 20px $light-blue;
  }

  &.holo-panel--danger:hover {
    background: #0075ff22;
    border: 1px solid $cyan;
    box-shadow: inset 0 0px 20px $cyan;
  }
  &.holo-panel--danger:active {
    background: #0075ff;
    border: 1px solid $cyan;
    box-shadow: inset 0 0px 20px $cyan;
  }
}

.cl-cyan {
  color: $cyan;
}

.cl-light-blue {
  color: $light-blue;
}

.tooltip:hover {
  position: relative;
  &::before {
    content: attr(tooltip);
    display: block;
    text-transform: capitalize;
    position: absolute;
    top: -2.2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: $cyan;
    color: white;
    border-radius: 4px;
  }
  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    top: -9px;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    background-color: $cyan-alpha;
  }
}